<div class="sidebar col-md-3 col-sm-3">
	<h2>Dados de contato</h2>
	<address>
		Av. Teste – 9999<br> Teste
		<br>
		<abbr title="telefone">T:</abbr> (XX) XXXX-XXXX<br>
	</address>
	<address>
		<strong>Email</strong><br> teste@teste.com.br
		<br>
	</address>
</div>