<% include ../comum-site/cabecalho %>
	<div class="main">
		<div class="container">
			<div class="row margin-bottom-40">
				<div class="col-md-12 col-sm-12" id="pagina">
					<h1>Meu carrinho</h1>
					<div class="shopping-cart-page">
						<div class="shopping-cart-data clearfix">
							<p>Seu carrinho está vazio!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>