<% include ../comum-site/cabecalho %>
	<div class="main">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">Devolução / Cancelamento</li>
			</ul>
			<div class="row margin-bottom-40">
				<% include ../comum-site/menu %>
					<div class="col-md-9 col-sm-9">
						<h1>Devolução / Cancelamento</h1>
						<div class="content-page">
							<p><img src="images/img-sobre.jpg" alt="About us" class="img-responsive"></p>
							<h2>Como faço para cancelar meu pedido?</h2>
							<p>
								Nesses casos, você deve entrar em contato com o Serviço de Relacionamento --, através do email <b>atendimento@camasiguimaraes.com.br</b>,
								para que possamos dar procedimento às medidas necessárias, como o cancelamento do envio da mercadoria e o reembolso
								da mesma. A recusa feita após 07 dias do envio do pedido não desobriga o pagamento do frete, uma vez que o serviço
								de entrega foi acionado e realizado.
							</p>

							<h2>Como faço para devolver meu pedido?</h2>

							<p>
								Para fazer a devolução de uma mercadoria, é importante entrar em contato com o Serviço de Relacionamento --,
								através do email atendimento@camasiguimaraes.com.br. Você pode devolver a sua mercadoria em até 07 dias após o recebimento.
								O produto deverá estar em perfeito estado, dentro da embalagem original.
							</p>
							<p>
								É importante guardar a nota.
							</p>
							<p>
								Serão recusadas as mercadorias que forem enviadas fora destas condições, exceto se autorizadas por nossos atendentes.
							</p>


							<h2>Troca de Mercadoria</h2>
							<p>
								As mercadorias poderão ser trocadas num prazo de 07 dias após o recebimento. A troca será realizada somente se o produto
								estiver em perfeito estado em sua embalagem original. Você deverá manifestar a intenção da troca através do Serviço
								de Relacionamento -- obedecendo as seguintes condições
							</p>

							<ul>
								<li>Informar o código, descrito na nota, do produto a ser trocado;</li>
								<li>Informar qual o motivo da solicitação.</li>
							</ul>

							<h2>Cobrança de frete para devolução</h2>
							<p>
								A devolução solicitada por iniciativa do cliente terá o frete sob sua responsabilidade. Isso acontece caso a solicitação
								do cancelamento ocorrer depois do despacho da mercadoria para a empresa responsável pela entrega, assim o frete correrá
								por conta do cliente.
							</p>

							<p>
								Caso a mercadoria já tenha sido entregue, o cliente arcará também com o custo de frete do retorno da mercadoria até a Camasi
								Guimarães.
							</p>

							<p>
								No caso de problema no produto ou erro de pedido, o frete será por conta da própria empresa.
							</p>

							<h2>Prazo para se efetivar a troca da mercadoria</h2>
							<p>
								Toda mercadoria retornada a -- será analisada de acordo com a informação fornecida pelo cliente. A --
								tomará as devidas providências, o mais breve possível, para o envio da nova mercadoria, sendo que o prazo máximo
								para a solução do problema é de 30 dias a contar da data do recebimento do produto pela --.
							</p>

							<h2>Troca de mercadorias com valores individuais diferentes</h2>
							<p>Se você solicitar a troca de alguma mercadoria por outra com preço diferente, será realizado o seguinte procedimento:
							</p>

							<ol>
								<li>
									<p>
										Caso o valor da nova mercadoria seja maior que o anterior, a -- cobrará a diferença, solicitando uma nova autorização
										para débito no cartão ou um depósito em conta corrente. O cliente será informado sobre os dados do depósito por
										e-mail.
									</p>
								</li>
								<li>
									<p>
										Caso o valor do novo produto seja menor que o anterior, você pode optar por uma das seguintes ações:
									</p>
									<ul>
										<li>
											retirar a diferença em produtos na www.camasiguimaraes.com.br;
										</li>
										<li>
											estorno do valor da diferença cobrado no cartão de crédito;
										</li>
										<li>
											depósito da diferença na conta corrente do cliente – caso o pagamento tenha sido realizado através de boleto;
										</li>
										<li>
											receber um código de crédito para ser utilizado em futuras compras.
										</li>
									</ul>
								</li>
							</ol>

							<h2>Embalagem do Produto para retorno de Devolução ou Troca</h2>
							<p>
								Em ambas as hipóteses, seja devolução, seja troca do produto, a mercadoria deverá retornar à Casuá acondicionada em sua embalagem
								original.
							</p>
							<p>
								Dentro da embalagem deverão ser colocados os produtos e todos os acessórios enviados. A falta de algum item poderá acarretar
								no atraso do prazo estipulado para a solução do problema.
							</p>
							<p>
								A embalagem deverá estar devidamente identificada e ser enviada para o endereço: Destinatário: Teste nº 9999 –
								Teste – Teste Tel. (XX) XXXX-XXXX
							</p>

						</div>
					</div>
			</div>
		</div>
	</div>

	<% include ../comum-site/rodape %>