<% include ../comum-site/cabecalho %>
	<div class="main">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Prazo &amp; entregas</a></li>
				<li class="active">Prazo &amp; entregas</li>
			</ul>
			<div class="row margin-bottom-40">
				<% include ../comum-site/menu %>
					<div class="col-md-9 col-sm-9">
						<h1>Prazos e Entregas</h1>
						<p><img src="images/img-sobre.jpg" alt="About us" class="img-responsive"></p>

						<p>O e-commerce utiliza 02 opções: os Correios e Transportadora, para que você possa escolher.</p>
						<p>Os Prazos de entrega variam de CEP para CEP, porém temos sendo os prazos os descritos abaixo:</p>
						<p>01 dia útil para envio (para pagamentos confirmados até às 16 horas)</p>
						<p>Para PAC – Até 10 dias úteis.</p>
						<p>Para SEDEX – De 03 a 05 dias úteis.</p>
						<p>Para Entrega via Transportadora – consulte seu Cep.</p>
						<p>Logo após os Correios/Transportadora retirarem seu pedido, recebemos o número do rastreamento, onde enviamos via email
							e também colocamos dentro do seu pedido no sistema da loja, para que possa acompanhar o passo a passo da sua encomenda.</p>
						<p>Para checar onde esta seu pedido, basta entrar no site:</p>
						<p><a href="http://www.correios.com.br/servicos/rastreamento/rastreamento.cfm">http://www.correios.com.br/servicos/rastreamento/rastreamento.cfm</a>							e digitar o número que lhe passaremos.</p>
						<p>Atrasos podem ocorrer por problemas que fogem do nosso controle, tais como: greve, endereço insuficiente, ausência
							no dia da entrega, entre outros. Só conseguiremos cobrar uma posição efetiva dos Correios/Transportadora se o prazo
							máximo estipulado por eles estoure. Antes disso, todas as tentativas de um parecer ou cobrança não são atendidas pelas
							empresas.</p>
						<p>&nbsp;</p>
						<p>Buscamos sempre fazer o melhor e atender a todos com rapidez, qualidade e eficiência. Estaremos juntos e focados para
							que seu pedido seja recebido com a maior agilidade possível.</p>
						<p>Agradecemos a confiança!</p>
						<p>&nbsp;</p>
						<p>Atenciosamente,</p>
						<p>E-commerce App</p>
						<p>Av. Teste nº 99999 –</p>
						<p>Teste – Teste Tel.</p>
						<p>(XX) XXXX-XXXX</p>
						<p>teste@teste.com.br</p>
					</div>
			</div>
		</div>
	</div>
	</div>

	<% include ../comum-site/rodape %>