<% include ../comum-site/cabecalho %>
	<div class="main">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">Frete</li>
			</ul>
			<div class="row margin-bottom-40">
				<% include ../comum-site/menu %>
					<div class="col-md-9 col-sm-9">
						<h1>Frete</h1>
						<div class="content-page">
							<p><img src="images/img-sobre.jpg" alt="About us" class="img-responsive"></p>
							<h2>Qual o valor do frete?</h2>
							<p><b>O frete é calculado conforme seu CEP.</b></h3>
								<p>Deixamos para você pode escolher a forma de receber seu produto: Correios ou Transportadora.</p>
								<h2>Segurança:</h2>
								<p><b>Seus dados ficaram seguros conosco, nossa loja é protegida pelo sistema SSL 128 Bits, o certificado de segurança anti-fraude mais seguro do mercado.</b></h3>
						</div>
					</div>
			</div>
		</div>
	</div>

	<% include ../comum-site/rodape %>