<% include ../comum-site/cabecalho %>
  <div class="main">
    <div class="container">
      <div class="row margin-bottom-40">
        <div class="col-md-12 col-sm-12">
          <div class="content-page page-404">
            <div class="number">
              404
            </div>
            <div class="details">
              <h3>Oops! Você está perdido.</h3>
              <p>
                Não conseguimos encontrar a página que você está procurando :(<br>
                <a href="/" class="link">Volte ao início</a> ou tente a pesquisa acima.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../comum-site/rodape %>