<% include ../comum-site/cabecalho %>
	<div class="main">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li class="active">Formas de pagamento</li>
			</ul>
			<div class="row margin-bottom-40">
				<% include ../comum-site/menu %>
					<div class="col-md-9 col-sm-9">
						<h1>Formas de pagamento</h1>
						<div class="content-page">
							<p><img src="images/img-sobre.jpg" alt="About us" class="img-responsive"></p>
							<h2>Quais são as opções de pagamento?</h2>
							<p>
								Temos como parceiro o Paypal que nos permite receber todos os cartões de Crédito, Bancos e Boleto Bancário.
							</p>
							<p>Nosso sistema de cobrança é 100% seguro. Os números são criptografados e não ficam armazenados em nosso banco de dados,
								sendo enviados diretamente para a Administradora do Cartão de Crédito ou Órgão Competente.</p>
							<p>Todas as compras em cartão podem ser parceladas em até 03 vezes sem juros*.</p>
							<p>Não se esqueça de que o seu cartão de crédito possui um limite de compras estabelecido pela administradora, ok?</p>

							<h2>Posso parcelar a minha compra?</h2>

							<p>
								Todas as compras em cartão podem ser parceladas em até <b>3x vezes sem juros</b> (parcela mínima de R$ 150,00). Não
								se esqueça, seu cartão de crédito possui um limite de compras estabelecido pela administradora. Este valor contabilizado
								é o total e não a parcela da sua compra. Sendo assim, alguns pedidos poderão ser recusados por ultrapassarem o limite
								disponível para compra, não cabendo ao E-commerce app responsabilidade pela não aprovação.
							</p>
							<p>
								O pagamento poderá não ser aceito também por outros motivos, como: erro de digitação de algum dado, falha de comunicação
								com o sistema da operadora do cartão, política de segurança do cartão, dentre outros.
							</p>
							<p>
								A opção de pagamento por boleto bancário não oferece parcelamento.
							</p>

							<h2>Como funciona a compra por boleto bancário?</h2>

							<p>
								Para fazer o pagamento por boleto bancário, imprima o boleto no final do processo ou copie o código de barras e pague em
								qualquer agência bancária ou pela internet. Assim que o pagamento estiver confirmado em nosso sistema, seu pedido
								é liberado automaticamente.
							</p>
							<p>
								O boleto também ficará disponível para impressão no e-mail de confirmação de pedido e na página de Resumo de Pedidos no site,
								caso o boleto ainda esteja dentro do prazo para pagamento.
							</p>
						</div>
					</div>
			</div>
		</div>
	</div>

	<% include ../comum-site/rodape %>