<div class="col-md-2">
	<div class="list-group" data-menu="true">
		<a href="/admin" data-valor="inicio" class="list-group-item">
			Início
		</a>
		<a href="/admin/usuarios" data-valor="usuarios" class="list-group-item">Usuários</a>
		<a href="/admin/produtos" data-valor="produtos" class="list-group-item">Produtos</a>
		<a href="/admin/compras" data-valor="vendas" class="list-group-item">Vendas</a>
	</div>
</div>